<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="forntEnd-Developer" content="Mamunur Rashid">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Dooplo - Gaming HTML Template</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<!-- Plugin css -->
	<link rel="stylesheet" href="assets/css/plugin.css">

	<!-- stylesheet -->
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
	<!-- preloader area end -->

	<!-- Header Area Start  -->
	<header class="header">
		<!-- Top Header Area Start -->
		<section class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="content">
							<div class="left-content">
								<ul class="left-list">
									<li>
										<p>
											<i class="fas fa-headset"></i>	Support
										</p>
									</li>
									<li>
										<p>
											<i class="fas fa-envelope"></i>	info@Dooplo.com
										</p>
									</li>
									<li>
										<div class="language-selector">
											<select name="language" class="language">
												<option value="1">English</option>
												<option value="2">France</option>
												<option value="3">Japan</option>
											</select>
										</div>
									</li>
								</ul>
							</div>
							<div class="right-content">
									<ul class="right-list">
										<li>
											<div class="cart-icon tm-dropdown">
												<i class="fas fa-cart-arrow-down"></i>
												<span class="cart-count">10</span>
												<div class="tm-dropdown-menu">
													<ul class="list">
														<li class="list-item">
																<div class="close">
																		<i class="fas fa-times"></i>
																</div>
															<ul class="number-list">
																<li>24</li>
																<li>25</li>
																<li>26</li>
																<li>27</li>
																<li>28</li>
															</ul>
														</li>
														<li class="list-item">
																<div class="close">
																		<i class="fas fa-times"></i>
																</div>
															<ul class="number-list">
																<li>24</li>
																<li>25</li>
																<li>26</li>
																<li>27</li>
																<li>28</li>
															</ul>
														</li>
														<li class="list-item">
																<div class="close">
																		<i class="fas fa-times"></i>
																</div>
															<ul class="number-list">
																<li>24</li>
																<li>25</li>
																<li>26</li>
																<li>27</li>
																<li>28</li>
															</ul>
														</li>
														<li class="list-item">
															<div class="close">
																	<i class="fas fa-times"></i>
															</div>
															<ul class="number-list">
																<li>24</li>
																<li>25</li>
																<li>26</li>
																<li>27</li>
																<li>28</li>
															</ul>
														</li>
													</ul>
													<a href="cart.html" class="link-btn">Cart Page</a>
												</div>
											</div>
										</li>
										<li>
											<div class="notofication tm-dropdown">
												<i class="fas fa-bell"></i>
												<span class="count">11</span>
												<div class="tm-dropdown-menu">
														<ul class="list">
															<li>
																<a href="#">
																	<i class="fas fa-bell"></i>
																	Invest Exchange
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="fas fa-bell"></i>
																	Invest Exchange
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="fas fa-bell"></i>
																	Invest Exchange
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="fas fa-bell"></i>
																	Invest Exchange
																</a>
															</li>
															<li>
																<a href="#">
																	<i class="fas fa-bell"></i>
																	Invest Exchange
																</a>
															</li>
														</ul>
													</div>
											</div>
										</li>
										<li>
											<a href="#" class="sign-in" data-toggle="modal" data-target="#login">
												<i class="fas fa-user"></i> Sign In
											</a>
										</li>
									</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Top Header Area End -->
		<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="index.html">
								<img src="assets/images/logo.png" alt="">
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Home
										<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="index.html"> <i class="fa fa-angle-double-right"></i>Home 1</a></li>
											<li><a class="dropdown-item" href="index2.html"> <i class="fa fa-angle-double-right"></i> Home 2</a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="play.html">Play
												<div class="mr-hover-effect"></div></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="lottery.html">lottery
												<div class="mr-hover-effect"></div></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="tournaments.html">tournaments
												<div class="mr-hover-effect"></div></a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link active dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											Pages
											<div class="mr-hover-effect"></div>
										</a>
										<ul class="dropdown-menu" >
											<li><a class="dropdown-item" href="about.html"> <i class="fa fa-angle-double-right"></i>About</a></li>
											<li><a class="dropdown-item" href="affiliate.html"> <i class="fa fa-angle-double-right"></i>Affiliate</a></li>
											<li><a class="dropdown-item" href="awards.html"> <i class="fa fa-angle-double-right"></i>Awards</a></li>
											<li><a class="dropdown-item" href="bonus.html"> <i class="fa fa-angle-double-right"></i>Bonus</a></li>
											<li><a class="dropdown-item" href="cart.html"> <i class="fa fa-angle-double-right"></i>Cart</a></li>
											<li><a class="dropdown-item" href="faq.html"> <i class="fa fa-angle-double-right"></i>Faq</a></li>
											<li><a class="dropdown-item" href="how-it-work.html"> <i class="fa fa-angle-double-right"></i>How It Work</a></li>
											<li><a class="dropdown-item" href="terms-conditions.html"> <i class="fa fa-angle-double-right"></i>Terms & Condition</a></li>
											<li><a class="dropdown-item" href="terms-conditions-details.html"> <i class="fa fa-angle-double-right"></i>Condition Details</a></li>
											<li><a class="dropdown-item" href="404.html"> <i class="fa fa-angle-double-right"></i>404</a></li>
										</ul>
									</li>
									<li class="nav-item">
											<a class="nav-link" href="contact.html">Contact
													<div class="mr-hover-effect"></div></a>
										</li>
								</ul>
								<a href="#" class="mybtn1"  data-toggle="modal" data-target="#signin"> Join us</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->

	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area about">
		<img class="bc-img" src="assets/images/breadcrumb/about.png" alt="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						About Us
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="index.html">
									<i class="fas fa-home"></i>
									Home
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="about.html">About Us</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- About page section Area Start -->
	<section class="about-page-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex align-self-center">
						<div class="about-video">
							<img src="assets/images/about-video-bg.jpg" alt="">
							<a href="https://www.youtube.com/watch?v=oj40TQirhss" class="play-video mfp-iframe">
								<img src="assets/images/play-icon-red.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="section-heading">
							<h5 class="subtitle">
									Our Journey in a Nutshell
							</h5>
							<h2 class="title">
									About Dooplo
							</h2>
							<p class="text">
									Dooplo is a unique cryptogames providing pleasant pastime. We offer our members to play Provably Fair games and some bonus games, join contests, achieve various awards.
							</p>
							<p class="text">
									Our service is strongly user-oriented which is manifested in carefully designed UI, proactive support, low House Edge, and transparent withdrawal principles.
							</p>
							<a href="#" class="mybtn1">Read More </a>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- About page section Area End -->

	<!-- Our Vision Area Start -->
	<section class="our-vision">
			<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
									Take a look 
							</h5>
							<h2 class="title">
									Our vision
							</h2>
							<p class="text">
									We create long term value for our partners by putting innovations, data and sustainability at the very heart of our business.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-vision">
								<div class="icon one">
									<img src="assets/images/vision/icon1.png" alt="">
								</div>
								<div class="content">
									<h4 class="title">
											CREATIVE
									</h4>
									<p class="text">
											To give back to the people that 
											support our company 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-vision">
								<div class="icon two">
									<img src="assets/images/vision/icon2.png" alt="">
								</div>
								<div class="content">
									<h4 class="title">
											EXTENSIVE
									</h4>
									<p class="text">
											To give back to the people that 
											support our company 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-vision">
								<div class="icon three">
									<img src="assets/images/vision/icon3.png" alt="">
								</div>
								<div class="content">
									<h4 class="title">
											CARING
									</h4>
									<p class="text">
											To give back to the people that 
											support our company 
									</p>
								</div>
							</div>
						</div>
					</div>
			</div>
	</section>
	<!-- Our Vision Area End -->


	<!-- Features Area Start -->
	<section class="features about-page">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
						an exhaustive list of 
						</h5>
						<h2 class="title">
								Amazing features
						</h2>
						<p class="text">
								It’s up to the competition in features, with some unique 
								advantages.All the latest crypto games.Here are some of them.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="feature-box">
						<div class="feature-box-inner">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon one">
											<img src="assets/images/feature/icon1.png" alt="">
										</div>
										<div class="content">
											<h4 class="title">
												Exclusive Bonuses
											</h4>
											<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon three">
											<img src="assets/images/feature/payout.png" alt="">
										</div>
										<div class="content">
											<h4 class="title">
													Instant Payout
											</h4>
											<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon two">
											<img src="assets/images/feature/icon2.png" alt="">
										</div>
										<div class="content">
											<h4 class="title">
												Provably Fair
											</h4>
											<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon two">
											<img src="assets/images/feature/security.png" alt="">
										</div>
										<div class="content">
											<h4 class="title">
													Secure playing
											</h4>
											<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon three">
											<img src="assets/images/feature/reward.png" alt="">
										</div>
										<div class="content">
											<h4 class="title">
												Rewarsd
											</h4>
											<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="single-feature landscape">
										<div class="icon four">
											<img src="assets/images/feature/icon3.png" alt="">
										</div>
										<div class="content">
											<h4 class="title">
													24/7 Support
											</h4>
											<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features Area End -->

	<!-- Team Area Start -->
	<section class="team">
		<div class="top-area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
						<div class="section-heading">
							<h5 class="subtitle">
							an exhaustive list of 
							</h5>
							<h2 class="title">
									Amazing features
							</h2>
							<p class="text">
									It’s up to the competition in features, with some unique 
									advantages.All the latest crypto games.Here are some of them.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="team-members">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="team-member-inner">
							<div class="row">
								<div class="col-lg-3 col-md-6">
									<div class="single-team">
										<div class="image">
											<img src="assets/images/team/team1.png" alt="">
											<div class="overlay"></div>
											<div class="content">
												<h4 class="name">
														Neal Ryan 
												</h4>
												<div class="designation">
														Co-Founder & CEO
												</div>
											</div>
										</div>
										<div class="social-area">
											<ul class="social-links">
												<li>
													<a href="#">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-pinterest-p"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="single-team">
										<div class="image">
											<img src="assets/images/team/team2.png" alt="">
											<div class="overlay"></div>
											<div class="content">
												<h4 class="name">
														Neal Ryan 
												</h4>
												<div class="designation">
														Co-Founder & CEO
												</div>
											</div>
										</div>
										<div class="social-area">
											<ul class="social-links">
												<li>
													<a href="#">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-pinterest-p"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="single-team">
										<div class="image">
											<img src="assets/images/team/team3.png" alt="">
											<div class="overlay"></div>
											<div class="content">
												<h4 class="name">
														Neal Ryan 
												</h4>
												<div class="designation">
														Co-Founder & CEO
												</div>
											</div>
										</div>
										<div class="social-area">
											<ul class="social-links">
												<li>
													<a href="#">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-pinterest-p"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="single-team">
										<div class="image">
											<img src="assets/images/team/team4.png" alt="">
											<div class="overlay"></div>
											<div class="content">
												<h4 class="name">
														Neal Ryan 
												</h4>
												<div class="designation">
														Co-Founder & CEO
												</div>
											</div>
										</div>
										<div class="social-area">
											<ul class="social-links">
												<li>
													<a href="#">
														<i class="fab fa-facebook-f"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-instagram"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fab fa-pinterest-p"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="#" class="mybtn1">SEE All of our Team</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team Area End -->

	<!-- community and Blog Area Start -->
	<div class="community-blog">
		<div class="container">
				<div class="row">
						<div class="col-lg-6">
							<div class="single-box">
								<div class="img">
									<img src="assets/images/team/community-icon.png" alt="">
								</div>
								<div class="content">
									<h4 class="title">
											<a href="#">Community <i class="fas fa-arrow-right"></i></a>
									</h4>
									<p class="text">
											Find answers, support, and 
											inspiration from other Jeugo users.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="single-box">
								<div class="img">
									<img src="assets/images/team/blog-icon.png" alt="">
								</div>
								<div class="content">
									<h4 class="title">
										<a href="#">Blogs <i class="fas fa-arrow-right"></i></a>
									</h4>
									<p class="text">
											Find answers, support, and 
											inspiration from other Jeugo users.
									</p>
								</div>
							</div>
						</div>
					</div>
		</div>
	</div>
	<!-- community and Blog Area End -->

	<!-- Footer Area Start -->
	<footer class="footer" id="footer">
			<div class="subscribe-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="subscribe-box">
									<form action="#">
								<div class="row">
									<div class="col-lg-12">
										<div class="heading-area">
												<h5 class="sub-title">
														subscribe to Dooplo
												</h5>
												<h4 class="title">
														To Get Exclusive Benefits
												</h4>
										</div>
									</div>
									<div class="col-lg-3 col-4 d-flex align-self-center">
										<div class="icon">
											<img src="assets/images/mail-box.png" alt="">
										</div>
									</div>
									<div class="col-lg-6 col-8 d-flex align-self-center">
										<div class="form-area">
												<input type="text" placeholder="Your Email Address">
										</div>
									</div>
									<div class="col-lg-3 d-flex align-self-center">
										<div class="button-area">
											<button class="mybtn1" type="submit">Subscribe
												<span><i class="fas fa-paper-plane"></i></span>
											</button>
										</div>
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3">
						<div class="footer-widget info-link-widget">
							<h4 class="title">
								About 
							</h4>
							<ul class="link-list">
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>	About Us
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>	Contact Us
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>	Latest Blog
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>	Authenticity Guarantee
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>	Customer Reviews
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>	Privacy Policy
	
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-widget info-link-widget">
							<h4 class="title">
								My Account
							</h4>
							<ul class="link-list">
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i> Manage Your Account
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i> How to Deposit
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i> How to Withdraw
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i> Account Varification
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i> Safety & Security
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i> Membership Level
	
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-widget info-link-widget">
							<h4 class="title">
								help center 
							</h4>
							<ul class="link-list">
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Help centre
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>FAQ
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Quick Start Guide
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Tutorials
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Borrow
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Lend
	
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-widget info-link-widget">
							<h4 class="title">
								Legal Info
							</h4>
							<ul class="link-list">
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Risk Warnings
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Privacy Notice
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Security
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Terms of Service
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Become Affiliate
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-angle-double-right"></i>Complaints Policy
	
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="left-area">
								<p>Copyright © 2019.All Rights Reserved By <a href="#">Dooplo</a>
								</p>
							</div>
						</div>
						<div class="col-lg-7">
							<ul class="copright-area-links">
								<li>
									<a href="#">Terms Of Use</a>
								</li>
								<li>
									<a href="#">Privacy Policy</a>
								</li>
								<li>
									<a href="#">Gamble</a>
								</li>
								<li>
									<a href="#">Aware</a>
								</li>
								<li>
									<a href="#">Help Cente</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer> 
	<!-- Footer Area End -->

	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->

	<!-- Login Area Start -->
	<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="modal-body">
				<div class="logo-area">
						<img class="logo" src="assets/images/logo.png" alt="">
				</div>
				<div class="header-area">
					<h4 class="title">Great to have you back!</h4>
					<p class="sub-title">Enter your details below.</p>
				</div>
				<div class="form-area">
					<form action="#"  method="POST">
						<div class="form-group">
								<label for="login-input-email">Email*</label>
								<input type="email" class="input-field" id="login-input-email"  placeholder="Enter your Email">
						</div>
						<div class="form-group">
								<label for="login-input-password">Password*</label>
								<input type="password" class="input-field" id="login-input-password"  placeholder="Password">
						</div>
						<div class="form-group">
							<div class="box">
								<div class="left">
										<input type="checkbox" class="check-box-field" id="input-save-password" checked>
									<label for="input-save-password">Remember Password</label>
								</div>
								<div class="right">
									<a href="#">
										Forgot Password?
									</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							   <button type="submit" class="mybtn1">Log In</button>
						</div>
					</form>
				</div>
				<div class="form-footer">
					<p>Not a member? 
							<a href="#">Create account <i class="fas fa-angle-double-right"></i></a>
					</p>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- Login Area End -->

	<!-- SignIn Area Start -->
	<div class="modal fade login-modal sign-in" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered " role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="assets/images/logo.png" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Great to have you back!</h4>
						<p class="sub-title">Enter your details below.</p>
					</div>
					<div class="form-area">
						<form action="#" method="POST">
							<div class="form-group">
									<label for="input-name">Name*</label>
									<input type="text" class="input-field" id="input-name"  placeholder="Enter your Name">
							</div>
							<div class="form-group">
									<label for="input-email">Email*</label>
									<input type="email" class="input-field" id="input-email"  placeholder="Enter your Email">
							</div>
							<div class="form-group">
									<label for="input-password">Password*</label>
									<input type="password" class="input-field" id="input-password"  placeholder="Enter your password">
							</div>
							<div class="form-group">
									<label for="input-con-password">confirm password**</label>
									<input type="password" class="input-field" id="input-con-password"  placeholder="Enter your Confirm Password">
							</div>
							<div class="form-group">
									<select>
										<option value="0">BTC</option>
										<option value="1">USD</option>
										<option value="2">EUR</option>
									</select>
							</div>
							<div class="form-group">
								<div class="check-group">
										<input type="checkbox" class="check-box-field" id="input-terms" checked>
										<label for="input-terms">
												I agree with <a href="#">terms and Conditions</a> and  <a href="#">privacy policy</a>
										</label>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="mybtn1">Take Bonus</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
	<!-- SignIn Area End -->

	<!-- jquery -->
	<script src="assets/js/jquery.js"></script>
	<!-- popper -->
	<script src="assets/js/popper.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- plugin js-->
	<script src="assets/js/plugin.js"></script>

	<!-- MpusemoverParallax JS-->
	<script src="assets/js/TweenMax.js"></script>
	<script src="assets/js/mousemoveparallax.js"></script>
	<!-- main -->
	<script src="assets/js/main.js"></script>
</body>

</html>