{% extends 'base.html' %}
{% load static %}
{% block main_body %}

	
	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area bc-affiliate">
		<img class="bc-img" src="{% static 'assets/images/breadcrumb/affiliate.png' %}" alt="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						affiliate
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="/">
									<i class="fas fa-home"></i>
									Home
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="affiliate">Affiliate</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- Affiliate Process area Start -->
	<section class="affiliate-process">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-process">
						<img src="{% static 'assets/images/affiliate/ps1.png' %}" alt="">
						<span class="num">1</span>
						<h4 class="title">
							Join
						</h4>
						<p class="text">
							Sign up for our Platform and fill in the required 
							details to access your 
							affiliate panel.
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-process">
						<img src="{% static 'assets/images/affiliate/ps2.png' %}" alt="">
						<span class="num">2</span>
						<h4 class="title">
							Promote
						</h4>
						<p class="text">
							Sign up for our Platform and fill in the required 
							details to access your 
							affiliate panel.
						</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-process">
						<img src="{% static 'assets/images/affiliate/ps3.png' %}" alt="">
						<span class="num">3</span>
						<h4 class="title">
							Earn
						</h4>
						<p class="text">
							Sign up for our Platform and fill in the required 
							details to access your 
							affiliate panel.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Affiliate Process area End -->


	<!-- Affiliate Program Area Start -->
	<section class="affiliate-program">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
							Why Should you Join
						</h5>
						<h2 class="title">
							Affiliate program?
						</h2>
						<p class="text">
							The World's leading online crypto games affiliate program. Promote Jeugo with the biggest lotteries & crypto games  to get 15% 25% revenue share commission.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="single-program">
						<div class="icon one">
							<img src="{% static 'assets/images/affiliate/ic1.png' %}" alt="">
						</div>
						<div class="content">
							<h4 class="title">
								Joining is free & EASy
							</h4>
							<a href="signup" class="link">read more <i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-program">
						<div class="icon four">
							<img src="{% static 'assets/images/affiliate/ic2.png' %}" alt="">
						</div>
						<div class="content">
							<h4 class="title">
								Unlimited Affiliates
							</h4>
							<a href="affliate" class="link">read more <i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-program">
						<div class="icon two">
							<img src="{% static 'assets/images/affiliate/ic3.png' %}" alt="">
						</div>
						<div class="content">
							<h4 class="title">
								Provably Fair
							</h4>
							<a href="faq" class="link">read more <i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-program">
						<div class="icon two">
							<img src="{% static 'assets/images/affiliate/ic4.png' %}" alt="">
						</div>
						<div class="content">
							<h4 class="title">
									Secure playing
							</h4>
							<a href="play" class="link">read more <i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-program">
						<div class="icon three">
							<img src="{% static 'assets/images/affiliate/ic5.png' %}" alt="">
						</div>
						<div class="content">
							<h4 class="title">
								Rewards
							</h4>
							<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-program">
						<div class="icon three">
							<img src="{% static 'assets/images/affiliate/ic6.png' %}" alt="">
						</div>
						<div class="content">
							<h4 class="title">
									24/7 Support
							</h4>
							<a href="#" class="link">read more <i class="fas fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Affiliate Program Area End -->

	<!-- Ref Commission Area Start -->
	<section class="ref-commission">
		<img class="ab-img" src="{% static 'assets/images/affiliate/ref-comm.png' %}" alt="">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-lg-7">
					<div class="section-heading">
						<h5 class="subtitle">
							Try to check out our
						</h5>
						<h2 class="title">
							Ref.Commission
						</h2>
						<p class="text">
							Get even more profit by attracting other participants as your referrals. We propose to take advantage of a 
							convenient three-level referral system.Our affiliates enjoy some of the highest commission rates in the industry.
							Your income is in your hands!
						</p>
						<p class="text">
							We provide our affiliates with a whole set of promo tools in different formats to enable them to promote our services effectively to different target markets. To help you keep on top of the game we publish recent news on our website regularly.
						</p>
						<a href="affliate" class="mybtn1">join Now! </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Ref Commission Area End -->

	<!-- Marketing Tools Area Start -->
	<section class="marketing-tools">
		<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
								Try to check out our
						</h5>
						<h2 class="title">
								Marketing Tools
						</h2>
						<p class="text">
								We create long term value for our partners by putting innovations, data and sustainability at the very heart of our business.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon one">
								<img src="{% static 'assets/images/affiliate/ic7.png' %}" alt="">
							</div>
							<div class="content">
								<h4 class="title">
										Banners
								</h4>
								<p class="text">
										Use our templates to send high-quality newsletters to keep players engaged
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon two">
								<img src="{% static 'assets/images/affiliate/ic8.png' %}" alt="">
							</div>
							<div class="content">
								<h4 class="title">
										Newsletters
								</h4>
								<p class="text">
										Use our templates to send high-quality newsletters to keep players engaged
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon three">
								<img src="{% static 'assets/images/affiliate/ic9.png' %}" alt="">
							</div>
							<div class="content">
								<h4 class="title">
										News
								</h4>
								<p class="text">
										Use our templates to send high-quality newsletters to keep players engaged
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="single-tools">
							<div class="icon three">
								<img src="{% static 'assets/images/affiliate/ic10.png' %}" alt="">
							</div>
							<div class="content">
								<h4 class="title">
										Reports
								</h4>
								<p class="text">
										Use our templates to send high-quality newsletters to keep players engaged
								</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</section>
	<!-- Marketing Tools Area End -->

	<!-- Testimonial Area Start -->
	<section class="testimonial">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="section-heading">
						<h5 class="subtitle">
								Testimonials
						</h5>
						<h2 class="title">
								earning With Us
						</h2>
						<p class="text">
								If you enjoy our gaming community and would like the opportunity to earn an income, then you won't want to miss 
						</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="testimonial-slider">
						<div class="single-testimonial">
								<div class="people">
										<div class="img">
												<img src="{% static 'assets/images/review.png' %}" alt="">
										</div>
										<h4 class="title">Kevin Ohashi</h4>
										<p class="designation">CEO OF APPLE</p>
									</div>
								<div class="review-text">
									<p>
											“Jeugo Affiliates provides excellent brand and very 
professional team. It is very easy and profitable 
partnership with us and we converting very well.”
									</p>
								</div>
						</div>
						<div class="single-testimonial">
							
								<div class="people">
										<div class="img">
												<img src="{% static 'assets/images/review.png' %}" alt="">
										</div>
										<h4 class="title">Mamun Khan</h4>
										<p class="designation">CEO OF APPLE</p>
									</div>
								<div class="review-text">
									<p>
											“Jeugo Affiliates provides excellent brand and very 
professional team. It is very easy and profitable 
partnership with us and we converting very well.”
									</p>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial Area End -->
{% endblock %}