{% load static %}
		<!-- Footer Area Start -->
	<footer class="footer" id="footer">
		<div class="subscribe-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="subscribe-box">
								<form action="#">
							<div class="row">
								<div class="col-lg-12">
									<div class="heading-area">
											<h5 class="sub-title">
													subscribe to Dooplo
											</h5>
											<h4 class="title">
													To Get Exclusive Benefits
											</h4>
									</div>
								</div>
								<div class="col-lg-3 col-4 d-flex align-self-center">
									<div class="icon">
										<img src="{% static 'assets/images/mail-box.png' %}" alt="">
									</div>
								</div>
								<div class="col-lg-6 col-8 d-flex align-self-center">
									<div class="form-area">
											<input type="text" placeholder="Your Email Address">
									</div>
								</div>
								<div class="col-lg-3 d-flex align-self-center">
									<div class="button-area">
										<button class="mybtn1" type="submit">Subscribe
											<span><i class="fas fa-paper-plane"></i></span>
										</button>
									</div>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="footer-widget info-link-widget">
						<h4 class="title">
							About
						</h4>
						<ul class="link-list">
							<li>
								<a href="notfound">
									<i class="fas fa-angle-double-right"></i>	About Us
								</a>
							</li>
							<li>
								<a href="contact">
									<i class="fas fa-angle-double-right"></i>	Contact Us
								</a>
							</li>

							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>	Customer Reviews
								</a>
							</li>
							<li>
								<a href="terms-conditions">
									<i class="fas fa-angle-double-right"></i>	Privacy Policy

								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="footer-widget info-link-widget">
						<h4 class="title">
							My Account
						</h4>
						<ul class="link-list">
							<li>
								<a href="login">
									<i class="fas fa-angle-double-right"></i> Manage Your Account
								</a>
							</li>
							<li>
								<a href="faq">
									<i class="fas fa-angle-double-right"></i> How to Deposit
								</a>
							</li>
							<li>
								<a href="faq">
									<i class="fas fa-angle-double-right"></i> How to Withdraw
								</a>
							</li>
							<li>
								<a href="faq">
									<i class="fas fa-angle-double-right"></i> Account Varification
								</a>
							</li>
							<li>
								<a href="faq">
									<i class="fas fa-angle-double-right"></i> Safety & Security
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="footer-widget info-link-widget">
						<h4 class="title">
							help center
						</h4>
						<ul class="link-list">
							<li>
								<a href="faq">
									<i class="fas fa-angle-double-right"></i>FAQ
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="footer-widget info-link-widget">
						<h4 class="title">
							Legal Info
						</h4>
						<ul class="link-list">
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>Risk Warnings
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>Privacy Notice
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>Security
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>Terms of Service
								</a>
							</li>
							<li>
								<a href="affliate">
									<i class="fas fa-angle-double-right"></i>Become Affiliate
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copy-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<div class="left-area">
							<p>Copyright © 2021.All Rights Reserved By <a href="/">Dooplo</a>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Area End -->

	<!-- Back to Top Start -->
	<div class="bottomtotop">
		<i class="fas fa-chevron-right"></i>
	</div>
	<!-- Back to Top End -->