{% extends 'base.html' %}
{% load static %}
{% block main_body %}
	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area  bc-terms">
		<img class="bc-img" src="{% static 'assets/images/breadcrumb/tc.png' %}" alt="">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						terms & conditions
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="/">
								<i class="fas fa-home"></i>
								Home
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="terms-conditions-details">Terms & Conditions</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->

	<!-- Serch Area Start -->
	<div class="serch-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="serch-box">
						<div class="row">
							<div class="col-lg-12">
								<form action="#">
									<ul class="list">
										<li class="input-field">
											<input type="text" placeholder="Serch For Articals">
										</li>
										<li class="button">
											<button type="submit" class="mybtn1">Get Started </button>
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Serch Area End -->

	<!-- Help Section Area Start -->
	<section class="help-section writter-artical-details">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="help-box">
						<div class="help-box-inner2 mt-0">
							<div class="single-artical">
								<div class="content">
										<h4 class="top-title">
												Privacy
										</h4>
										<div class="writer-profile">
												<div class="img">
													<img src="{% static 'assets/images/tc.png' %}" alt="">
												</div>
												<div class="writer-content">
														<h5 class="w-name">
														Written by <a href="#">
															David Kemmerer
														</a>
													<span>27 articles in this collection
													</span>  
												</h5>
												</div>
											</div>
										<div class="inner-content">
											<h4 class="title">
													1. GENERAL
											</h4>
												<p class="text">
														To participate in a lending pool, users can create debt reserve for a token of their choice for a specific duration. When this 
														reserve expires, the entire amount + the interest earned is automatically transferred from our reserve contract to your Lendbo account.
												</p>
												<p class="text">
														To participate in a lending pool, users can create debt reserve for a token of their choice for a specific duration. When this 
														reserve expires, the entire amount + the interest earned is automatically transferred from our reserve contract to your Lendbo account.
												</p>
												<h4 class="title">
														2. INFORMATION WE COLLECT
												</h4>
												<p class="text">
														Lendbo Network provides a new way to lend on the platform. Debt reserves are a pool of ETH or ERC20 tokens. These reserves are lent to borrowers based on their loan request. 
												</p>
												<p class="text">
														To participate in a lending pool, users can create debt reserve for a token of their choice for a specific duration. When this 
														reserve expires, the entire amount + the interest earned is automatically transferred from our reserve contract to your Lendbo account.	To participate in a lending pool, users can create debt reserve for a token of their choice for a specific duration. When this 
														reserve expires, the entire amount + the interest earned is automatically transferred from our reserve contract to your Lendbo account.
												</p>
												<h4 class="title">
														3. HOW WE USE YOUR INFORMATION
												</h4>
												<p class="text">
														Lendbo Network provides a new way to lend on the platform. Debt reserves are a pool of ETH or ERC20 tokens. These reserves are lent to borrowers based on their loan request. 
												</p>
												<p class="text">
														To participate in a lending pool, users can create debt reserve for a token of their choice for a specific duration. When this 
														reserve expires, the entire amount + the interest earned is automatically transferred from our reserve contract to your Lendbo account.	To participate in a lending pool, users can create debt reserve for a token of their choice for a specific duration. When this 
														reserve expires, the entire amount + the interest earned is automatically transferred from our reserve contract to your Lendbo account.
												</p>
										</div>
								</div>
								<div class="footer-content">
									<h4 class="heading">
											Did this answer your question?
									</h4>
									<ul class="emojis">
										<li>
											<a href="#">
													<i class="far fa-sad-tear"></i>
											</a>
										</li>
										<li>
											<a href="#">
													<i class="far fa-meh"></i>
											</a>
										</li>
										<li>
											<a href="#">
													<i class="far fa-smile"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Help Section Area End -->
{% endblock %}