{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'assets/css/custom-styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/countdown.css' %}">
{% endblock %}

{% block main_body %}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bc-tournaments">
	<img class="bc-img" src="{% static 'assets/images/game/racing-horse.svg' %}" alt="">
	<div class="container">
		<p>Choose  any Color Given Below to Make Your Dream Come true. This Decision May Appear to be a trivial Matter,
		 But it May Represent a Moment in Your Decision Making.</p>
		<div class="row">
			<div class="col-lg-12">
				<h4 class="title">
					Horse Racing
				</h4>
				<ul class="breadcrumb-list">
					<li>
						<a href="/">
							<i class="fas fa-home"></i>
							Home
						</a>
					</li>
					<li>
						<span><i class="fas fa-chevron-right"></i> </span>
					</li>
					<li>
						<a href="play">Play</a>
					</li>
					<li>
						<span><i class="fas fa-chevron-right"></i> </span>
					</li>
					<li>
						<a href="tournaments">Horse Racing</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- Breadcrumb Area End -->


<!-- Race Number and Balance Section Start  -->

<div class="next-race">
	<h3>Next race starts in <span id="time">00</span> seconds!</h3>
</div>

<marquee behavior="" direction="left" class="balance-and-race-no">All of the winning amount will be transferred to your saved account everyday
			at 23:00</marquee>
<section class="balance-and-race-no">
	<div class="race-no">
		<h3>Race Number</h3>
		<h4>{{race_no}}</h4>
	</div>

	<div class="race-no">
		<h3>Date</h3>
		<h4 id="date"></h4>
	</div>

	{% if user.is_authenticated %}
	<div class="balance">
		<h3>Available Balance</h3>
		<h4>&#8377 108</h4>
	</div>
	{% endif %}
</section>

<!-- Race Numbeter and Balance Section End  -->


<!-- Join buttons Start  -->
{% if not paid %}
{% if user.is_authenticated %}
<section class="balance-and-race-no buttons">
	<div class="race-no">
		<button class='mybtn1 green' data-toggle="modal" data-target="#add_point" onclick="set_horse_value('horse1')">Join Brick Red</button>
	</div>
	<div class="balance">
		<button class='mybtn1 violet' data-target="#add_point" data-toggle="modal" onclick="set_horse_value('horse2')">Join Violet</button>
	</div>
	<div class="balance">
		<button class='mybtn1 red' onclick="set_horse_value('horse3')" data-target="#add_point" data-toggle="modal">Join Red</button>
	</div>
</section>
{% else %}
<section class="balance-and-race-no buttons">
	<div class="race-no">
		<a href="login"><button class='mybtn1 green'>Join Brick Red</button></a>
	</div>
	<div class="balance">
		<a href="login"><button class='mybtn1 violet'>Join Violet</button></a>
	</div>
	<div class="balance">
		<a href="login"><button class='mybtn1 red'>Join Red</button></a>
	</div>
</section>
{% endif %}
{% endif %}
<!--join button ends here-->

<!-- Tournaments Area Start -->
<div class="racing-section">
	<div class="countdown">
		<div id="app"></div>
	</div>
	<div class="running-horses">
		<div class="horse horse-1">
			<div class="horse-gif">
				<img src="{% static 'assets/images/game/standing-horse.png' %}" alt="">
			</div>
		</div>
	</div>
	<div class="horse horse-2">
		<div class="horse-gif">
			<img src="{% static 'assets/images/game/standing-horse.png' %}" alt="">
		</div>
	</div>
	<div class="horse horse-3">
		<div class="horse-gif">
			<img src="{% static 'assets/images/game/standing-horse.png' %}" alt="">
		</div>
	</div>
	<canvas id="confetti" style="display: none; position: absolute; top: 0"></canvas>
</div>
<!-- Tournaments Area End -->


<!-- Latest Activities Area Start -->
<section class="activities">
	<img class="shape shape1" src="{% static 'assets/images/people/shape1.png' %}" alt="">
	<img class="shape shape2" src="{% static 'assets/images/people/shape2.png' %}" alt="">
	<img class="shape shape3" src="{% static 'assets/images/people/shape3.png' %}" alt="">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10">
				<div class="section-heading">
					<h5 class="subtitle">
						The Smarter Way
					</h5>
					<h2 class="title">
						Play and Earn
					</h2>
					<p class="text">
						The World's First real money earning game
						Affordable and competitive betting rates
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="tab-menu-area">
					<ul class="nav nav-lend mb-3" id="pills-tab" role="tablist">
						<li class="nav-item active">
							<a class="nav-link active" id="pills-all-bets-tab" data-toggle="pill" href="#pills-all-bets" role="tab"
								aria-controls="pills-all-bets" aria-selected="false">All bets</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" id="pills-my-bets-tab" data-toggle="pill" href="#pills-my-bets" role="tab" aria-controls="pills-my-jackpots" aria-selected="false">My Bets</a>
						</li>
					</ul>
				</div>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-all-bets" role="tabpanel"
						aria-labelledby="pills-all-bets-tab">
						<div class="responsive-table">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">RACE NO.</th>
										<th scope="col">COLOR</th>
										<th scope="col">BET POINT</th>
										<th scope="col">RESULT</th>
										<th scope="col">INCOME</th>
										<th scope="col">TOTAL WIN POINT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											20210511210
										</td>
										<td>
											<div class="color-lose"></div>
										</td>
										<td>
											&#8377 10
										</td>
										<td class="lose">Lose</td>
										<td>-10</td>
										<td>500</td>
									</tr>
									<tr>
										<td>
											20210511209
										</td>
										<td>
											<div class="color-win"></div>
										</td>
										<td>
											&#8377 20
										</td>
										<td class="win">Win</td>
										<td>20</td>
										<td>300</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-my-bets" role="tabpanel"
						aria-labelledby="pills-my-bets-tab">
						<div class="responsive-table">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">RACE NO.</th>
										<th scope="col">COLOR</th>
										<th scope="col">BET POINT</th>
										<th scope="col">RESULT</th>
										<th scope="col">INCOME</th>
										<th scope="col">TOTAL WIN POINT</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											20210511210
										</td>
										<td>
											<div class="color-lose"></div>
										</td>
										<td>
											&#8377 10
										</td>
										<td class="lose">Lose</td>
										<td>-10</td>
										<td>500</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Latest Activities Area End -->

<!-- Payment Area Start -->
	<div class="modal fade login-modal" id="add_point" tabindex="-1" role="dialog" aria-labelledby="add_point" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-body">
					<div class="logo-area">
							<img class="logo" src="{% static 'assets/images/logo.png' %}" alt="">
					</div>
					<div class="header-area">
						<h4 class="title">Choose from the below</h4>
						<p class="sub-title">Amount to bet on Horse Racing </p>
					</div>
					<div class="form-area">
						<form action="initiate_payment"  method="POST">
							{% csrf_token %}
							<input type="hidden" value="" id="horse_name" name="name">
							<div class="form-group">
								<select name="amount">
									<option value="10">&#8377 10</option>
									<option value="20">&#8377 20</option>
									<option value="30">&#8377 30</option>
									<option value="50">&#8377 50</option>
									<option value="100">&#8377 100</option>
									<option value="200">&#8377 200</option>
									<option value="500">&#8377 500</option>
								</select>
							</div>

							<div class="form-group">
								   <button type="submit" class="mybtn1">Proceed to pay</button>
							</div>
						</form>
					</div>
					<div class="form-footer">

					</div>
				</div>
			</div>
			</div>
		</div>
	<!-- Payment Area End -->

{% block jslink %}
<script>
	var horse_image = '{% static "assets/images/game/stopped-horse.png" %}';
	var horse_gif = '{% static "assets/images/game/horse.gif" %}';
</script>
<script src="{% static 'assets/js/timer.js' %}"></script>
<script src="{% static 'assets/js/countdown.js' %}"></script>
<script src="{% static 'assets/js/celebrate.js' %}"></script>

<script type="text/javascript">
	var clock = $('.clock').FlipClock(99000 * 24 * 3, {
		clockFace: 'DailyCounter',
		countdown: true,
		showSeconds: false
	});
	var clock = $('.clock2').FlipClock(99900 * 24 * 3, {
		clockFace: 'DailyCounter',
		countdown: true,
		showSeconds: false
	});

</script>
{% endblock %}

{% endblock %}