{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'assets/css/custom-styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/countdown.css' %}">
{% endblock %}

{% block main_body %}



	<!-- Breadcrumb Area Start -->
	<section class="breadcrumb-area bc-tournaments">
		<img class="bc-img" src="{% static 'assets/images/game/racing-horse.svg' %}" alt="">
		<div class="container">
			<marquee behavior="" direction="left">Withdrawal notice: SBI bank payment is delayed, please try not to use the bank to withdraw money.</marquee>
			<div class="row">
				<div class="col-lg-12">
					<h4 class="title">
						Horse Racing
					</h4>
					<ul class="breadcrumb-list">
						<li>
							<a href="/">
								<i class="fas fa-home"></i>
								Home
							</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="play">Play</a>
						</li>
						<li>
							<span><i class="fas fa-chevron-right"></i> </span>
						</li>
						<li>
							<a href="tournaments">Horse Racing</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Area End -->


	<!-- Race Numbeter and Balance Section Start  -->

	<section class="balance-and-race-no">
		<div class="race-no">
			<h3>Race Number</h3>
			<h4>20210511292</h4>
		</div>
		<div class="balance">
			<h3>Available Balance</h3>
			<h4>&#8377 108</h4>
		</div>
	</section>

	<!-- Race Numbeter and Balance Section End  -->


	<!-- Tournaments Area Start -->
	<div class="racing-section">
		<div class="countdown">
			<div id="app"></div>
		</div>
		<div class="running-horses">
			<div class="horse horse-1">
				<div class="horse-gif">
					<img src="{% static 'assets/images/game/standing-horse.png' %}" alt="">
				</div>
			</div>
		</div>
		<div class="horse horse-2">
			<div class="horse-gif">
				<img src="{% static 'assets/images/game/standing-horse.png' %}" alt="">
			</div>
		</div>
		<div class="horse horse-3">
			<div class="horse-gif">
				<img src="{% static 'assets/images/game/standing-horse.png' %}" alt="">
			</div>
		</div>
		<canvas id="confetti" style="display: none; position: absolute; top: 0"></canvas>
	</div>
	<!-- Tournaments Area End -->


	<!-- Join buttons Start  -->

	<section class="balance-and-race-no buttons">
		<div class="race-no">
			<button class='mybtn1 green'>Join Brick Red</button>
		</div>
		<div class="balance">
			<button class='mybtn1 violet'>Join Violet</button>
		</div>
		<div class="balance">
			<button class='mybtn1 red'>Join Red</button>
		</div>
	</section>

	<!-- Join buttons End  -->


{% block jslink %}
<script>
	var horse_image = '{% static "assets/images/game/stopped-horse.png" %}';
		var horse_gif = '{% static "assets/images/game/horse.gif" %}';
</script>
	<script src="{% static 'assets/js/countdown.js' %}"></script>
	<script src="{% static 'assets/js/celebrate.js' %}"></script>

	<script type="text/javascript">
		var clock = $('.clock').FlipClock(99000 * 24 * 3, {
			clockFace: 'DailyCounter',
			countdown: true,
			showSeconds: false
		});
		var clock = $('.clock2').FlipClock(99900 * 24 * 3, {
			clockFace: 'DailyCounter',
			countdown: true,
			showSeconds: false
		});

	</script>
{% endblock %}

{% endblock %}