.horse-1 {
  background-color: #070b28;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
}
.horse-2 {
  background-color: #070b28;
  border-bottom: 1px solid #bbb;
}
.horse-3 {
  background-color: #070b28;
  border-bottom: 1px solid #bbbbbb;
}

.horse-1 .horse-gif {
  position: relative;
}

.animation1 {
  animation: run 35s linear forwards;
}

.animation2 {
  animation: run 40s linear forwards;
}

.animation3 {
  animation: run 30s linear forwards;
}

.horse-2 .horse-gif {
  position: relative;
}

.horse-3 .horse-gif {
  position: relative;
}

.horse-2 img {
  filter: hue-rotate(180deg);
}

.horse-3 img {
  filter: saturate(1.5);
}

@keyframes run {
  0% {
    left: 0px;
  }

  100% {
    left: 91%;
  }
}

.racing-section::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  background: #fff;
  right: 7%;
}

.balance-and-race-no {
  background: #070b28;
  padding: 1em 2em; 
  display: flex;
  justify-content: space-between;
}
.balance-and-race-no h3  {
  font-size: 1.5em;
}

.balance-and-race-no h4 {
  font-size: 1.25em;
}


@media screen and (max-width: 300px) {
  .balance-and-race-no {
    font-size: 0.5em;
  }
}

.mybtn1.green {
  background: #993300;
}

.mybtn1.violet {
  background: #005686;
}

.mybtn1.red {
  background: #C32A00;
}

.balance-and-race-no.buttons {
  padding-top: 3em;
  padding-bottom: 4em;
}

@media screen and (max-width: 600px) {
  .balance-and-race-no.buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 24em;
  }
  .balance-and-race-no, .next-race {
    font-size: 0.6em;
  }
}